In [2]:
import pandas as pd

df = pd.read_parquet("../data/processed/all_user_combined_data.parquet")
df.head()

,Start_Time,End_Time,clinical_f0,clinical_f1,clinical_f2,clinical_f3,clinical_f4,clinical_f5,clinical_f6,clinical_f7,...,audio02_f96,audio02_f97,audio02_f98,audio02_f99,audio02_f100,user_id,age,gender,Depression_label,split
0,0.8,7.0,0.406030,0.313151,-0.116788,0.061381,-0.090267,-0.005268,0.106040,0.170887,...,0.000000,0.262804,0.0,0.817485,0.848696,301_P,39,male,0,dev
1,41.9,42.5,0.233028,0.043382,-0.064205,0.025771,-0.487324,0.013373,0.252081,0.154165,...,0.000000,0.000000,0.0,0.408961,1.085618,301_P,39,male,0,dev
2,52.9,55.8,0.344104,0.117400,-0.099952,-0.063165,-0.242215,0.155228,0.353929,-0.054407,...,0.000000,0.000000,0.0,0.000000,0.776890,301_P,39,male,0,dev
3,59.7,60.7,0.474687,0.313247,-0.061940,-0.060701,-0.246777,-0.055384,0.218618,0.426976,...,0.477121,0.000000,0.0,0.602060,1.079181,301_P,39,male,0,dev
4,63.4,64.2,0.428376,0.279073,-0.105950,-0.099083,-0.233661,0.009878,0.144821,0.292633,...,0.000000,0.301030,0.0,0.000000,0.907254,301_P,39,male,0,dev

In [16]:
exclude_cols = ['Start_Time', 'End_Time', 'user_id', 'Depression_label', 'split']
df_features = df.drop(columns=exclude_cols, errors='ignore')

In [17]:
df_features.head()

,clinical_f0,clinical_f1,clinical_f2,clinical_f3,clinical_f4,clinical_f5,clinical_f6,clinical_f7,clinical_f8,clinical_f9,...,audio02_f93,audio02_f94,audio02_f95,audio02_f96,audio02_f97,audio02_f98,audio02_f99,audio02_f100,age,gender
0,0.406030,0.313151,-0.116788,0.061381,-0.090267,-0.005268,0.106040,0.170887,0.213477,-0.034855,...,0.0,0.0,0.620664,0.000000,0.262804,0.0,0.817485,0.848696,39,male
1,0.233028,0.043382,-0.064205,0.025771,-0.487324,0.013373,0.252081,0.154165,0.135929,0.007867,...,0.0,0.0,0.958261,0.000000,0.000000,0.0,0.408961,1.085618,39,male
2,0.344104,0.117400,-0.099952,-0.063165,-0.242215,0.155228,0.353929,-0.054407,-0.013206,-0.126495,...,0.0,0.0,0.379992,0.000000,0.000000,0.0,0.000000,0.776890,39,male
3,0.474687,0.313247,-0.061940,-0.060701,-0.246777,-0.055384,0.218618,0.426976,0.301410,-0.083903,...,0.0,0.0,0.863744,0.477121,0.000000,0.0,0.602060,1.079181,39,male
4,0.428376,0.279073,-0.105950,-0.099083,-0.233661,0.009878,0.144821,0.292633,0.170240,0.005878,...,0.0,0.0,0.602060,0.000000,0.301030,0.0,0.000000,0.907254,39,male

In [18]:
missing = df_features.isnull().sum()
print("Missing values per column:\n", missing[missing > 0])

Missing values per column:
 Series([], dtype: int64)

In [19]:
zero_percent = (df_features == 0).sum() / len(df_features)
sparse_cols = zero_percent[zero_percent > 0.9]

print(f"Number of columns with more than 90% zeros: {len(sparse_cols)}")
print("Columns:")
print(sparse_cols.sort_values(ascending=False))

Number of columns with more than 90% zeros: 138
Columns:
video02_f1     1.000000
video02_f32    1.000000
video02_f84    1.000000
audio02_f4     1.000000
video02_f82    1.000000
                 ...
audio_f94      0.923977
audio_f78      0.923977
audio_f53      0.918129
audio_f19      0.906433
audio02_f72    0.900585
Length: 138, dtype: float64

In [20]:
df_features = df_features.drop(columns=sparse_cols.index)

In [21]:
df_features.head()

,clinical_f0,clinical_f1,clinical_f2,clinical_f3,clinical_f4,clinical_f5,clinical_f6,clinical_f7,clinical_f8,clinical_f9,...,audio02_f93,audio02_f94,audio02_f95,audio02_f96,audio02_f97,audio02_f98,audio02_f99,audio02_f100,age,gender
0,0.406030,0.313151,-0.116788,0.061381,-0.090267,-0.005268,0.106040,0.170887,0.213477,-0.034855,...,0.0,0.0,0.620664,0.000000,0.262804,0.0,0.817485,0.848696,39,male
1,0.233028,0.043382,-0.064205,0.025771,-0.487324,0.013373,0.252081,0.154165,0.135929,0.007867,...,0.0,0.0,0.958261,0.000000,0.000000,0.0,0.408961,1.085618,39,male
2,0.344104,0.117400,-0.099952,-0.063165,-0.242215,0.155228,0.353929,-0.054407,-0.013206,-0.126495,...,0.0,0.0,0.379992,0.000000,0.000000,0.0,0.000000,0.776890,39,male
3,0.474687,0.313247,-0.061940,-0.060701,-0.246777,-0.055384,0.218618,0.426976,0.301410,-0.083903,...,0.0,0.0,0.863744,0.477121,0.000000,0.0,0.602060,1.079181,39,male
4,0.428376,0.279073,-0.105950,-0.099083,-0.233661,0.009878,0.144821,0.292633,0.170240,0.005878,...,0.0,0.0,0.602060,0.000000,0.301030,0.0,0.000000,0.907254,39,male

In [34]:
print(df_features['gender'].value_counts())

gender
male    171
Name: count, dtype: int64

In [35]:
df_encoded = pd.get_dummies(df_features, columns=['gender'], drop_first=False)
print([col for col in df_encoded.columns if 'gender' in col])

['gender_male']

In [37]:
df_encoded['gender_male'] = df_encoded['gender_male'].astype(int)

In [38]:
print(df_encoded['gender_male'].head())

0    1
1    1
2    1
3    1
4    1
Name: gender_male, dtype: int64

In [40]:
print(df_encoded.head())

   clinical_f0  clinical_f1  clinical_f2  clinical_f3  clinical_f4  \
0     0.406030     0.313151    -0.116788     0.061381    -0.090267
1     0.233028     0.043382    -0.064205     0.025771    -0.487324
2     0.344104     0.117400    -0.099952    -0.063165    -0.242215
3     0.474687     0.313247    -0.061940    -0.060701    -0.246777
4     0.428376     0.279073    -0.105950    -0.099083    -0.233661

   clinical_f5  clinical_f6  clinical_f7  clinical_f8  clinical_f9  ...  \
0    -0.005268     0.106040     0.170887     0.213477    -0.034855  ...
1     0.013373     0.252081     0.154165     0.135929     0.007867  ...
2     0.155228     0.353929    -0.054407    -0.013206    -0.126495  ...
3    -0.055384     0.218618     0.426976     0.301410    -0.083903  ...
4     0.009878     0.144821     0.292633     0.170240     0.005878  ...

   audio02_f93  audio02_f94  audio02_f95  audio02_f96  audio02_f97  \
0          0.0          0.0     0.620664     0.000000     0.262804
1          0.0          0.0     0.958261     0.000000     0.000000
2          0.0          0.0     0.379992     0.000000     0.000000
3          0.0          0.0     0.863744     0.477121     0.000000
4          0.0          0.0     0.602060     0.000000     0.301030

   audio02_f98  audio02_f99  audio02_f100  age  gender_male
0          0.0     0.817485      0.848696   39            1
1          0.0     0.408961      1.085618   39            1
2          0.0     0.000000      0.776890   39            1
3          0.0     0.602060      1.079181   39            1
4          0.0     0.000000      0.907254   39            1

[5 rows x 1700 columns]

In [44]:
from sklearn.preprocessing import StandardScaler

exclude_cols = ['gender_male','gender_female']

# Select columns to scale:
cols_to_scale = [col for col in df_encoded.columns if col not in exclude_cols]

scaler = StandardScaler()
df_encoded[cols_to_scale] = scaler.fit_transform(df_encoded[cols_to_scale])

In [45]:
print(df_encoded.head())

   clinical_f0  clinical_f1  clinical_f2  clinical_f3  clinical_f4  \
0     0.525162     0.673773     0.267560     0.322613     0.930104
1    -0.607254    -0.749974     0.551444     0.162778    -1.219647
2     0.119814    -0.359332     0.358457    -0.236400     0.107426
3     0.974566     0.674282     0.563673    -0.225339     0.082728
4     0.671426     0.493924     0.326073    -0.397610     0.153739

   clinical_f5  clinical_f6  clinical_f7  clinical_f8  clinical_f9  ...  \
0    -0.113993    -0.391508     0.207020     0.554596    -0.350246  ...
1    -0.001206     0.366103     0.101824     0.063507    -0.201003  ...
2     0.857075     0.894455    -1.210330    -0.880923    -0.670373  ...
3    -0.417215     0.192510     1.818101     1.111454    -0.521585  ...
4    -0.022351    -0.190328     0.972940     0.280787    -0.207952  ...

   audio02_f93  audio02_f94  audio02_f95  audio02_f96  audio02_f97  \
0     -0.48263    -0.500846    -0.135281    -0.282072     1.000388
1     -0.48263    -0.500846     1.295168    -0.282072    -0.601624
2     -0.48263    -0.500846    -1.155044    -0.282072    -0.601624
3     -0.48263    -0.500846     0.894686     6.959817    -0.601624
4     -0.48263    -0.500846    -0.214108    -0.282072     1.233408

   audio02_f98  audio02_f99  audio02_f100       age  gender_male
0    -0.420073     0.513532      1.224791  1.172604            0
1    -0.420073    -0.559250      2.010453  1.172604            0
2    -0.420073    -1.633180      0.986673  1.172604            0
3    -0.420073    -0.052173      1.989109  1.172604            0
4    -0.420073    -1.633180      1.418977  1.172604            0

[5 rows x 1700 columns]

In [46]:
numeric_cols = df_encoded.select_dtypes(include=['float64', 'int64']).columns
stats = df_encoded[numeric_cols].agg(['mean', 'std']).T 
print(stats)

unscaled = stats[(stats['mean'].abs() > 0.1) | ((stats['std'] < 0.8) | (stats['std'] > 1.2))]
print("\nColumns that might NOT be scaled properly:")
print(unscaled)

                      mean       std
clinical_f0   2.597013e-17  1.002937
clinical_f1   3.116416e-17  1.002937
clinical_f2   1.330969e-17  1.002937
clinical_f3   0.000000e+00  1.002937
clinical_f4   2.597013e-17  1.002937
...                    ...       ...
audio02_f98   2.077610e-17  1.002937
audio02_f99   4.155221e-17  1.002937
audio02_f100  0.000000e+00  1.002937
age           0.000000e+00  1.002937
gender_male   0.000000e+00  0.000000

[1700 rows x 2 columns]

Columns that might NOT be scaled properly:
             mean  std
gender_male   0.0  0.0

In [47]:
import pandas as pd

exclude_cols = ['Start_Time', 'End_Time', 'user_id', 'Depression_label', 'split']

df_original = pd.read_parquet("../data/processed/all_user_combined_data.parquet")
cols_to_add_back = df_original[exclude_cols]

df_final = pd.concat([df_encoded.reset_index(drop=True), cols_to_add_back.reset_index(drop=True)], axis=1)
df_final.to_parquet("../data/processed/all_user_combined_data_processed.parquet", index=False)

In [48]:
import pandas as pd
df_loaded = pd.read_parquet("../data/processed/all_user_combined_data_processed.parquet")
print(df_loaded.head())

   clinical_f0  clinical_f1  clinical_f2  clinical_f3  clinical_f4  \
0     0.525162     0.673773     0.267560     0.322613     0.930104
1    -0.607254    -0.749974     0.551444     0.162778    -1.219647
2     0.119814    -0.359332     0.358457    -0.236400     0.107426
3     0.974566     0.674282     0.563673    -0.225339     0.082728
4     0.671426     0.493924     0.326073    -0.397610     0.153739

   clinical_f5  clinical_f6  clinical_f7  clinical_f8  clinical_f9  ...  \
0    -0.113993    -0.391508     0.207020     0.554596    -0.350246  ...
1    -0.001206     0.366103     0.101824     0.063507    -0.201003  ...
2     0.857075     0.894455    -1.210330    -0.880923    -0.670373  ...
3    -0.417215     0.192510     1.818101     1.111454    -0.521585  ...
4    -0.022351    -0.190328     0.972940     0.280787    -0.207952  ...

   audio02_f98  audio02_f99  audio02_f100       age  gender_male  Start_Time  \
0    -0.420073     0.513532      1.224791  1.172604            0         0.8
1    -0.420073    -0.559250      2.010453  1.172604            0        41.9
2    -0.420073    -1.633180      0.986673  1.172604            0        52.9
3    -0.420073    -0.052173      1.989109  1.172604            0        59.7
4    -0.420073    -1.633180      1.418977  1.172604            0        63.4

   End_Time  user_id  Depression_label  split
0       7.0    301_P                 0    dev
1      42.5    301_P                 0    dev
2      55.8    301_P                 0    dev
3      60.7    301_P                 0    dev
4      64.2    301_P                 0    dev

[5 rows x 1705 columns]

In [51]:
import pandas as pd

df_loaded = pd.read_parquet("../data/processed/all_user_combined_data_processed.parquet")

print("Shape of dataframe:", df_loaded.shape)

exclude_cols = ['End_Time', 'user_id', 'Depression_label', 'split', 'Start_Time']
cols_to_check = [col for col in df_loaded.columns if col not in exclude_cols]

means = df_loaded[cols_to_check].mean()
stds = df_loaded[cols_to_check].std()

not_scaled_cols = [col for col in cols_to_check if abs(means[col]) > 1e-2 or abs(stds[col] - 1) > 1e-2]
print("\nColumns that might NOT be scaled properly:")
print(not_scaled_cols)

missing_cols = df_loaded[cols_to_check].columns[df_loaded[cols_to_check].isna().any()].tolist()
print("\nColumns with missing (NaN) values:")
print(missing_cols)

null_cols = df_loaded[cols_to_check].columns[df_loaded[cols_to_check].isnull().any()].tolist()
print("\nColumns with null values:")
print(null_cols)

print("\nFirst 5 rows:")
print(df_loaded.head())

Shape of dataframe: (171, 1705)

Columns that might NOT be scaled properly:
['gender_male']

Columns with missing (NaN) values:
[]

Columns with null values:
[]

First 5 rows:
   clinical_f0  clinical_f1  clinical_f2  clinical_f3  clinical_f4  \
0     0.525162     0.673773     0.267560     0.322613     0.930104
1    -0.607254    -0.749974     0.551444     0.162778    -1.219647
2     0.119814    -0.359332     0.358457    -0.236400     0.107426
3     0.974566     0.674282     0.563673    -0.225339     0.082728
4     0.671426     0.493924     0.326073    -0.397610     0.153739

   clinical_f5  clinical_f6  clinical_f7  clinical_f8  clinical_f9  ...  \
0    -0.113993    -0.391508     0.207020     0.554596    -0.350246  ...
1    -0.001206     0.366103     0.101824     0.063507    -0.201003  ...
2     0.857075     0.894455    -1.210330    -0.880923    -0.670373  ...
3    -0.417215     0.192510     1.818101     1.111454    -0.521585  ...
4    -0.022351    -0.190328     0.972940     0.280787    -0.207952  ...

   audio02_f98  audio02_f99  audio02_f100       age  gender_male  Start_Time  \
0    -0.420073     0.513532      1.224791  1.172604            0         0.8
1    -0.420073    -0.559250      2.010453  1.172604            0        41.9
2    -0.420073    -1.633180      0.986673  1.172604            0        52.9
3    -0.420073    -0.052173      1.989109  1.172604            0        59.7
4    -0.420073    -1.633180      1.418977  1.172604            0        63.4

   End_Time  user_id  Depression_label  split
0       7.0    301_P                 0    dev
1      42.5    301_P                 0    dev
2      55.8    301_P                 0    dev
3      60.7    301_P                 0    dev
4      64.2    301_P                 0    dev

[5 rows x 1705 columns]