In [1]:
import os
import pandas as pd

# Base path relative to your script/notebook
data_dir = os.path.join('..', 'data')

# List all subject folders that end with _P
subject_folders = [
    folder for folder in os.listdir(data_dir)
    if os.path.isdir(os.path.join(data_dir, folder)) and folder.endswith('_P')
]

for subject in sorted(subject_folders):
    audio_dir = os.path.join(data_dir, subject, 'video')
    print(f"\n=== Audio CSV files for subject {subject} ===")

    if not os.path.exists(audio_dir):
        print(f"âŒ Audio folder not found for {subject} at path: {audio_dir}")
        continue

    # List all CSV files in audio folder
    audio_csv_files = [f for f in os.listdir(audio_dir) if f.endswith('.csv')]

    if not audio_csv_files:
        print(f"âš ï¸ No CSV files found in audio folder of {subject}")
        continue

    for csv_file in sorted(audio_csv_files):
        csv_path = os.path.join(audio_dir, csv_file)
        print(f"\nðŸ”¹ Displaying {csv_file}:\n")
        try:
            df = pd.read_csv(csv_path)
            display(df.head())  # Use print(df.head()) if not in Jupyter
        except Exception as e:
            print(f"âŒ Failed to read {csv_file}: {e}")

=== Audio CSV files for subject 300_P ===

ðŸ”¹ Displaying 300_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv:

,'300_OpenFace2.1.0_Pose_gaze_AUs.csv',0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,...,0.0.86,0.0.87,0.0.88,0.0.89,0.0.90,0.0.91,0.0.92,0.0.93,0.0.94,0.0.95
0,'300_OpenFace2.1.0_Pose_gaze_AUs.csv',0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,'300_OpenFace2.1.0_Pose_gaze_AUs.csv',0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,'300_OpenFace2.1.0_Pose_gaze_AUs.csv',0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,'300_OpenFace2.1.0_Pose_gaze_AUs.csv',0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,'300_OpenFace2.1.0_Pose_gaze_AUs.csv',0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ðŸ”¹ Displaying 300_OpenFace2.1.0_Pose_gaze_AUs.csv:

,frame,timestamp,confidence,success,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0.000,0.98,1,69.5,37.7,576.8,0.221,0.036,-0.068,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2,0.033,0.98,1,69.4,37.4,577.5,0.219,0.037,-0.067,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,3,0.067,0.98,1,69.4,37.3,576.7,0.223,0.039,-0.069,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,0.100,0.98,1,69.3,37.3,576.5,0.225,0.039,-0.069,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5,0.133,0.98,1,69.4,37.3,576.6,0.225,0.039,-0.070,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

=== Audio CSV files for subject 301_P ===

ðŸ”¹ Displaying 301_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv:

,'301_OpenFace2.1.0_Pose_gaze_AUs.csv',0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,...,0.0.90,0.0.91,0.0.92,0.0.93,0.0.94,0.0.95,0.0.96,0.0.97,0.0.98,0.0.99
0,'301_OpenFace2.1.0_Pose_gaze_AUs.csv',0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,'301_OpenFace2.1.0_Pose_gaze_AUs.csv',0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,'301_OpenFace2.1.0_Pose_gaze_AUs.csv',0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,'301_OpenFace2.1.0_Pose_gaze_AUs.csv',0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,'301_OpenFace2.1.0_Pose_gaze_AUs.csv',0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ðŸ”¹ Displaying 301_OpenFace2.1.0_Pose_gaze_AUs.csv:

,frame,timestamp,confidence,success,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0.000,0.98,1,0.9,7.9,665.4,0.155,-0.026,-0.118,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.033,0.98,1,0.8,7.7,668.7,0.179,-0.023,-0.130,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.067,0.98,1,0.8,7.7,667.9,0.189,-0.022,-0.135,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.100,0.98,1,1.0,6.6,669.2,0.174,-0.033,-0.144,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.133,0.98,1,0.9,6.3,670.7,0.168,-0.045,-0.149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

=== Audio CSV files for subject 302_P ===

ðŸ”¹ Displaying 302_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv:

,'302_OpenFace2.1.0_Pose_gaze_AUs.csv',0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,...,0.0.87,0.0.88,0.0.89,0.0.90,0.0.91,0.0.92,0.0.93,0.0.94,0.0.95,0.0.96
0,'302_OpenFace2.1.0_Pose_gaze_AUs.csv',0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,'302_OpenFace2.1.0_Pose_gaze_AUs.csv',0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,'302_OpenFace2.1.0_Pose_gaze_AUs.csv',0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,'302_OpenFace2.1.0_Pose_gaze_AUs.csv',0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,'302_OpenFace2.1.0_Pose_gaze_AUs.csv',0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ðŸ”¹ Displaying 302_OpenFace2.1.0_Pose_gaze_AUs.csv:

,frame,timestamp,confidence,success,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0.000,0.98,1,4.2,19.5,565.7,0.238,0.154,-0.061,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2,0.033,0.98,1,4.2,19.2,562.7,0.225,0.145,-0.061,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.067,0.98,1,4.2,19.1,562.5,0.226,0.144,-0.060,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.100,0.98,1,4.2,19.1,562.4,0.227,0.144,-0.060,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.133,0.98,1,4.2,19.1,562.3,0.227,0.144,-0.060,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

=== Audio CSV files for subject 308_P ===

ðŸ”¹ Displaying 308_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv:

,'308_OpenFace2.1.0_Pose_gaze_AUs.csv',0.0,0.0.1,1.1139433,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,...,0.0.89,0.0.90,0.0.91,0.0.92,0.0.93,0.0.94,0.0.95,0.0.96,0.0.97,0.0.98
0,'308_OpenFace2.1.0_Pose_gaze_AUs.csv',0.1,0.0,1.113943,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,'308_OpenFace2.1.0_Pose_gaze_AUs.csv',0.2,0.0,1.113943,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,'308_OpenFace2.1.0_Pose_gaze_AUs.csv',0.3,0.0,1.113943,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,'308_OpenFace2.1.0_Pose_gaze_AUs.csv',0.4,0.0,1.113943,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,'308_OpenFace2.1.0_Pose_gaze_AUs.csv',0.5,0.0,1.113943,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ðŸ”¹ Displaying 308_OpenFace2.1.0_Pose_gaze_AUs.csv:

,frame,timestamp,confidence,success,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0.000,0.0,0,-16093360.0,-12070020.0,25145876.0,-0.501,0.426,-0.002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.033,0.0,0,-16093360.0,-12070020.0,25145876.0,-0.501,0.426,-0.002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.067,0.0,0,-16093360.0,-12070020.0,25145876.0,-0.501,0.426,-0.002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.100,0.0,0,-16093360.0,-12070020.0,25145876.0,-0.501,0.426,-0.002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.133,0.0,0,-16093360.0,-12070020.0,25145876.0,-0.501,0.426,-0.002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
import os
import pandas as pd
import glob
import scipy.io

def load_video_csv(filepath):
    delimiters = [',', ';', '\t']

    for delim in delimiters:
        try:
            df = pd.read_csv(filepath, delimiter=delim)
            if any('Unnamed' in str(col) for col in df.columns) or \
               str(df.iloc[0, 0]).strip().lower() in ["'unknown'", "unknown"]:
                df = pd.read_csv(filepath, delimiter=delim, header=None)
                df.columns = [f"col{i}" for i in range(df.shape[1])]

            if any(c in df.columns for c in ['frame', 'timestamp', 'time', 'frameTime']):
                return df
        except Exception:
            continue
    df = pd.read_csv(filepath)
    if any('Unnamed' in str(col) for col in df.columns) or \
       str(df.iloc[0, 0]).strip().lower() in ["'unknown'", "unknown"]:
        df = pd.read_csv(filepath, header=None)
        df.columns = [f"col{i}" for i in range(df.shape[1])]
    return df

def load_video_mat(filepath):
    try:
        mat_data = scipy.io.loadmat(filepath)
        mat_keys = [k for k in mat_data.keys() if not k.startswith('__')]
        if len(mat_keys) == 0:
            print(f"âš ï¸ No valid data found in {filepath}")
            return None

        data_key = mat_keys[0]
        mat_array = mat_data[data_key]

        df = pd.DataFrame(mat_array)

        # Rename first two columns to frame and time if possible
        if df.shape[1] >= 2:
            df.rename(columns={0: 'frame', 1: 'time'}, inplace=True)

        return df
    except Exception as e:
        print(f"âŒ Error loading {filepath}: {e}")
        return None

def preprocess_video_for_subject(subject_path):
    video_folder = os.path.join(subject_path, 'video')
    if not os.path.isdir(video_folder):
        print(f"ðŸš« No video folder in {subject_path}")
        return

    processed_folder = os.path.join(video_folder, 'processed')
    os.makedirs(processed_folder, exist_ok=True)

    # Process CSV files
    video_csv_files = glob.glob(os.path.join(video_folder, '*.csv'))
    for file_path in video_csv_files:
        filename = os.path.basename(file_path)
        df = load_video_csv(file_path)
        df.columns = df.columns.str.strip()

        if 'name' in df.columns:
            df = df.drop(columns=['name'])

        if df.shape[1] >= 2:
            df.rename(columns={df.columns[0]: 'frame', df.columns[1]: 'time'}, inplace=True)

        out_path = os.path.join(processed_folder, filename)
        df.to_csv(out_path, index=False)
        print(f"âœ… Processed CSV {filename} saved to {out_path}")

    # Process MAT files
    video_mat_files = glob.glob(os.path.join(video_folder, '*.mat'))
    for file_path in video_mat_files:
        filename = os.path.basename(file_path)
        df = load_video_mat(file_path)
        if df is not None:
            out_filename = filename.replace('.mat', '.csv')
            out_path = os.path.join(processed_folder, out_filename)
            df.to_csv(out_path, index=False)
            print(f"âœ… Processed MAT {filename} saved as CSV to {out_path}")

def preprocess_all_subjects_video(root_data_dir):
    for participant_folder in os.listdir(root_data_dir):
        if participant_folder.startswith('.'):
            continue
        participant_path = os.path.join(root_data_dir, participant_folder)
        if os.path.isdir(participant_path):
            print(f"\nðŸ“‚ Processing video for participant: {participant_folder}")
            preprocess_video_for_subject(participant_path)
        else:
            print(f"ðŸš« {participant_folder} is not a folder, skipping.")

if __name__ == "__main__":
    root_data_dir = "../data"  # adjust path as needed
    preprocess_all_subjects_video(root_data_dir)

ðŸ“‚ Processing video for participant: 300_P
âœ… Processed CSV 300_OpenFace2.1.0_Pose_gaze_AUs.csv saved to ../data/300_P/video/processed/300_OpenFace2.1.0_Pose_gaze_AUs.csv
âœ… Processed CSV 300_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv saved to ../data/300_P/video/processed/300_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv
âœ… Processed MAT 300_CNN_VGG.mat saved as CSV to ../data/300_P/video/processed/300_CNN_VGG.csv
âœ… Processed MAT 300_CNN_ResNet.mat saved as CSV to ../data/300_P/video/processed/300_CNN_ResNet.csv

ðŸ“‚ Processing video for participant: lables
ðŸš« No video folder in ../data/lables

ðŸ“‚ Processing video for participant: 302_P
âœ… Processed CSV 302_OpenFace2.1.0_Pose_gaze_AUs.csv saved to ../data/302_P/video/processed/302_OpenFace2.1.0_Pose_gaze_AUs.csv
âœ… Processed CSV 302_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv saved to ../data/302_P/video/processed/302_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv
âœ… Processed MAT 302_CNN_ResNet.mat saved as CSV to ../data/302_P/video/processed/302_CNN_ResNet.csv
âœ… Processed MAT 302_CNN_VGG.mat saved as CSV to ../data/302_P/video/processed/302_CNN_VGG.csv

ðŸ“‚ Processing video for participant: 308_P
âœ… Processed CSV 308_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv saved to ../data/308_P/video/processed/308_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv
âœ… Processed CSV 308_OpenFace2.1.0_Pose_gaze_AUs.csv saved to ../data/308_P/video/processed/308_OpenFace2.1.0_Pose_gaze_AUs.csv
âœ… Processed MAT 308_CNN_ResNet.mat saved as CSV to ../data/308_P/video/processed/308_CNN_ResNet.csv
âœ… Processed MAT 308_CNN_VGG.mat saved as CSV to ../data/308_P/video/processed/308_CNN_VGG.csv

ðŸ“‚ Processing video for participant: 301_P
âœ… Processed CSV 301_OpenFace2.1.0_Pose_gaze_AUs.csv saved to ../data/301_P/video/processed/301_OpenFace2.1.0_Pose_gaze_AUs.csv
âœ… Processed CSV 301_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv saved to ../data/301_P/video/processed/301_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv
âœ… Processed MAT 301_CNN_ResNet.mat saved as CSV to ../data/301_P/video/processed/301_CNN_ResNet.csv
âœ… Processed MAT 301_CNN_VGG.mat saved as CSV to ../data/301_P/video/processed/301_CNN_VGG.csv

In [17]:
import os
import pandas as pd

# Base path relative to your script/notebook
data_dir = os.path.join('..', 'data')

# List all subject folders that end with _P
subject_folders = [
    folder for folder in os.listdir(data_dir)
    if os.path.isdir(os.path.join(data_dir, folder)) and folder.endswith('_P')
]

for subject in sorted(subject_folders):
    audio_dir = os.path.join(data_dir, subject, 'video', 'processed')
    print(f"\n=== Audio CSV files for subject {subject} ===")

    if not os.path.exists(audio_dir):
        print(f"âŒ Audio folder not found for {subject} at path: {audio_dir}")
        continue

    # List all CSV files in audio folder
    audio_csv_files = [f for f in os.listdir(audio_dir) if f.endswith('.csv')]

    if not audio_csv_files:
        print(f"âš ï¸ No CSV files found in audio folder of {subject}")
        continue

    for csv_file in sorted(audio_csv_files):
        csv_path = os.path.join(audio_dir, csv_file)
        print(f"\nðŸ”¹ Displaying {csv_file}:\n")
        try:
            df = pd.read_csv(csv_path)
            display(df.head())  # Use print(df.head()) if not in Jupyter
        except Exception as e:
            print(f"âŒ Failed to read {csv_file}: {e}")

=== Audio CSV files for subject 300_P ===

ðŸ”¹ Displaying 300_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv:

,time,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,0.0.9,...,0.0.86,0.0.87,0.0.88,0.0.89,0.0.90,0.0.91,0.0.92,0.0.93,0.0.94,0.0.95
0,0.1,0,0,0,0,0.0,0.0,0.0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
1,0.2,0,0,0,0,0.0,0.0,0.0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
2,0.3,0,0,0,0,0.0,0.0,0.0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
3,0.4,0,0,0,0,0.0,0.0,0.0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
4,0.5,0,0,0,0,0.0,0.0,0.0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0

ðŸ”¹ Displaying 300_CNN_ResNet.csv:

,time,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0,0.234172,0.0,0.351914,0.0,0.0,0.0,0.043682,0.0,0.0,...,0.0,0.0,0.0,0.0,0.038876,0.260323,0.057039,0.0,0.0,0.012273
1,1,0.300500,0.0,0.455191,0.0,0.0,0.0,0.049593,0.0,0.0,...,0.0,0.0,0.0,0.0,0.022960,0.321741,0.073209,0.0,0.0,0.013165
2,2,0.300957,0.0,0.483732,0.0,0.0,0.0,0.048251,0.0,0.0,...,0.0,0.0,0.0,0.0,0.017801,0.327170,0.071041,0.0,0.0,0.015042
3,3,0.288333,0.0,0.370340,0.0,0.0,0.0,0.047113,0.0,0.0,...,0.0,0.0,0.0,0.0,0.023132,0.327762,0.063100,0.0,0.0,0.016065
4,4,0.285226,0.0,0.388361,0.0,0.0,0.0,0.042739,0.0,0.0,...,0.0,0.0,0.0,0.0,0.022937,0.315654,0.066821,0.0,0.0,0.017552

ðŸ”¹ Displaying 300_CNN_VGG.csv:

,time,2,3,4,5,6,7,8,9,10,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.013852,0.0,0.0,0.006310,0.019658,0.0,0.005236,0.001115,0.0,0.020323,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002276,0.009140
1,0.013256,0.0,0.0,0.005675,0.019463,0.0,0.005198,0.001366,0.0,0.019620,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001880,0.009365
2,0.013019,0.0,0.0,0.005501,0.019419,0.0,0.005193,0.001307,0.0,0.019173,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001745,0.009294
3,0.013297,0.0,0.0,0.005652,0.019554,0.0,0.005219,0.001306,0.0,0.019571,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001906,0.009359
4,0.013242,0.0,0.0,0.005579,0.019445,0.0,0.005173,0.001268,0.0,0.019448,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001958,0.009218

ðŸ”¹ Displaying 300_OpenFace2.1.0_Pose_gaze_AUs.csv:

,time,confidence,success,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,gaze_0_x,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,0.000,1.0,1.0,0.378772,0.906376,0.757363,0.500627,0.823210,0.494750,0.287554,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.033,1.0,1.0,0.378252,0.903955,0.759000,0.500269,0.823753,0.494931,0.275134,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.067,1.0,1.0,0.378252,0.903148,0.757129,0.500985,0.824837,0.494569,0.273801,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.100,1.0,1.0,0.377732,0.903148,0.756662,0.501343,0.824837,0.494569,0.274250,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.133,1.0,1.0,0.378252,0.903148,0.756896,0.501343,0.824837,0.494388,0.274166,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

=== Audio CSV files for subject 301_P ===

ðŸ”¹ Displaying 301_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv:

,time,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,0.0.9,...,0.0.90,0.0.91,0.0.92,0.0.93,0.0.94,0.0.95,0.0.96,0.0.97,0.0.98,0.0.99
0,0.1,0,0,0,0.0,0,0,0,0,0.0,...,0,0,0,0.0,0,0,0.0,0,0,0
1,0.2,0,0,0,0.0,0,0,0,0,0.0,...,0,0,0,0.0,0,0,0.0,0,0,0
2,0.3,0,0,0,0.0,0,0,0,0,0.0,...,0,0,0,0.0,0,0,0.0,0,0,0
3,0.4,0,0,0,0.0,0,0,0,0,0.0,...,0,0,0,0.0,0,0,0.0,0,0,0
4,0.5,0,0,0,0.0,0,0,0,0,0.0,...,0,0,0,0.0,0,0,0.0,0,0,0

ðŸ”¹ Displaying 301_CNN_ResNet.csv:

,time,2,3,4,5,6,7,8,9,10,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0.377377,0.000000,0.273444,0.093958,0.020583,0.142724,0.349092,0.296655,0.512217,0.0,...,0.0,0.104473,0.194409,0.0,0.172941,0.095858,0.276876,0.115866,0.0,0.106700
1,0.332009,0.033765,0.252199,0.150560,0.074834,0.207515,0.438678,0.508726,0.419264,0.0,...,0.0,0.164037,0.000000,0.0,0.242206,0.032366,0.319575,0.175975,0.0,0.164372
2,0.385017,0.000734,0.248863,0.121555,0.000000,0.184406,0.393340,0.407099,0.339840,0.0,...,0.0,0.131548,0.000000,0.0,0.203681,0.130695,0.296625,0.145524,0.0,0.135306
3,0.348933,0.110126,0.255943,0.157204,0.062166,0.225649,0.422922,0.507281,0.427807,0.0,...,0.0,0.170081,0.000000,0.0,0.243298,0.020444,0.332090,0.184961,0.0,0.173132
4,0.384054,0.056813,0.280128,0.122715,0.025903,0.192317,0.397608,0.389806,0.356600,0.0,...,0.0,0.133087,0.044575,0.0,0.196521,0.166039,0.310463,0.148154,0.0,0.137998

ðŸ”¹ Displaying 301_CNN_VGG.csv:

,time,2,3,4,5,6,7,8,9,10,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.014556,0.0,0.0,0.010429,0.018213,0.0,0.007153,0.004513,0.0,0.021019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001165,0.010630
1,0.013761,0.0,0.0,0.009780,0.018233,0.0,0.007346,0.004598,0.0,0.020459,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001734,0.009778
2,0.013748,0.0,0.0,0.009880,0.018327,0.0,0.007577,0.004793,0.0,0.020451,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001895,0.009812
3,0.014496,0.0,0.0,0.010418,0.018341,0.0,0.006886,0.004123,0.0,0.021120,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001728,0.009907
4,0.014761,0.0,0.0,0.010808,0.018440,0.0,0.006857,0.004317,0.0,0.021287,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001392,0.009831

ðŸ”¹ Displaying 301_OpenFace2.1.0_Pose_gaze_AUs.csv:

,time,confidence,success,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,gaze_0_x,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,0.000,1.0,1.0,0.017643,0.585950,0.916057,0.458108,0.531792,0.190025,0.596232,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.033,1.0,1.0,0.017290,0.585485,0.924376,0.468112,0.533960,0.184040,0.656812,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.067,1.0,1.0,0.017290,0.585485,0.922359,0.472280,0.534682,0.181546,0.658584,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.100,1.0,1.0,0.017996,0.582926,0.925637,0.466028,0.526734,0.177057,0.668700,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.133,1.0,1.0,0.017643,0.582228,0.929418,0.463526,0.518064,0.174564,0.672157,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

=== Audio CSV files for subject 302_P ===

ðŸ”¹ Displaying 302_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv:

,time,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,0.0.9,...,0.0.87,0.0.88,0.0.89,0.0.90,0.0.91,0.0.92,0.0.93,0.0.94,0.0.95,0.0.96
0,0.1,0,0,0,0,0,0.0,0,0,0.0,...,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
1,0.2,0,0,0,0,0,0.0,0,0,0.0,...,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
2,0.3,0,0,0,0,0,0.0,0,0,0.0,...,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
3,0.4,0,0,0,0,0,0.0,0,0,0.0,...,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
4,0.5,0,0,0,0,0,0.0,0,0,0.0,...,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0

ðŸ”¹ Displaying 302_CNN_ResNet.csv:

,time,2,3,4,5,6,7,8,9,10,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0.548137,0.0,0.191003,0.0,0.0,0.058882,0.0,0.0,0.388754,0.0,...,0.0,0.0,0.069694,0.0,0.0,0.298647,0.005677,0.0,0.0,0.130195
1,0.505975,0.0,0.087946,0.0,0.0,0.041298,0.0,0.0,0.473630,0.0,...,0.0,0.0,0.089107,0.0,0.0,0.333879,0.000000,0.0,0.0,0.172612
2,0.522661,0.0,0.072912,0.0,0.0,0.045638,0.0,0.0,0.487683,0.0,...,0.0,0.0,0.097391,0.0,0.0,0.321686,0.000000,0.0,0.0,0.171448
3,0.527545,0.0,0.113112,0.0,0.0,0.049320,0.0,0.0,0.450924,0.0,...,0.0,0.0,0.093580,0.0,0.0,0.329552,0.000000,0.0,0.0,0.173354
4,0.536881,0.0,0.150191,0.0,0.0,0.047160,0.0,0.0,0.471856,0.0,...,0.0,0.0,0.086215,0.0,0.0,0.347871,0.000000,0.0,0.0,0.162619

ðŸ”¹ Displaying 302_CNN_VGG.csv:

,time,2,3,4,5,6,7,8,9,10,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.013138,0.0,0.0,0.008239,0.020388,0.0,0.005767,0.005500,0.0,0.018644,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000749,0.009299
1,0.013025,0.0,0.0,0.007783,0.020152,0.0,0.005362,0.005199,0.0,0.018853,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000644,0.008759
2,0.013143,0.0,0.0,0.008078,0.020180,0.0,0.005277,0.005314,0.0,0.018701,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000712,0.008895
3,0.013219,0.0,0.0,0.008138,0.020288,0.0,0.005222,0.005223,0.0,0.018754,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000692,0.008855
4,0.013259,0.0,0.0,0.008210,0.020249,0.0,0.005221,0.005246,0.0,0.018776,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000680,0.008864

ðŸ”¹ Displaying 302_OpenFace2.1.0_Pose_gaze_AUs.csv:

,time,confidence,success,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,gaze_0_x,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,0.000,1.0,1.0,0.310474,0.330540,0.881172,0.365632,0.772672,0.540046,0.413250,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.033,1.0,1.0,0.310474,0.329284,0.875151,0.359427,0.767231,0.540046,0.461603,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.067,1.0,1.0,0.310474,0.328865,0.874749,0.359905,0.766626,0.540503,0.462427,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.100,1.0,1.0,0.310474,0.328865,0.874548,0.360382,0.766626,0.540503,0.463153,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.133,1.0,1.0,0.310474,0.328865,0.874348,0.360382,0.766626,0.540503,0.462449,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

=== Audio CSV files for subject 308_P ===

ðŸ”¹ Displaying 308_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv:

,time,0.0.1,1.1139433,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,...,0.0.89,0.0.90,0.0.91,0.0.92,0.0.93,0.0.94,0.0.95,0.0.96,0.0.97,0.0.98
0,0.1,0,1.0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
1,0.2,0,1.0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
2,0.3,0,1.0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
3,0.4,0,1.0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0.0,0.0,0.0,0,0
4,0.5,0,1.0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0.0,0.0,0.0,0,0

ðŸ”¹ Displaying 308_CNN_ResNet.csv:

,time,2,3,4,5,6,7,8,9,10,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0.012489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.069745,0.0,0.0,0.0,0.0,0.099058,0.0,0.0,0.0,0.013606
1,0.012489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.069745,0.0,0.0,0.0,0.0,0.099058,0.0,0.0,0.0,0.013606
2,0.012489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.069745,0.0,0.0,0.0,0.0,0.099058,0.0,0.0,0.0,0.013606
3,0.012489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.069745,0.0,0.0,0.0,0.0,0.099058,0.0,0.0,0.0,0.013606
4,0.012489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.069745,0.0,0.0,0.0,0.0,0.099058,0.0,0.0,0.0,0.013606

ðŸ”¹ Displaying 308_CNN_VGG.csv:

,time,2,3,4,5,6,7,8,9,10,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.017107,0.0,0.0,0.014813,0.020024,0.0,0.006194,0.000868,0.0,0.025753,...,0.0,0.0,0.0,0.001173,0.0,0.0,0.0,0.0,0.002719,0.014112
1,0.017107,0.0,0.0,0.014813,0.020024,0.0,0.006194,0.000868,0.0,0.025753,...,0.0,0.0,0.0,0.001173,0.0,0.0,0.0,0.0,0.002719,0.014112
2,0.017107,0.0,0.0,0.014813,0.020024,0.0,0.006194,0.000868,0.0,0.025753,...,0.0,0.0,0.0,0.001173,0.0,0.0,0.0,0.0,0.002719,0.014112
3,0.017107,0.0,0.0,0.014813,0.020024,0.0,0.006194,0.000868,0.0,0.025753,...,0.0,0.0,0.0,0.001173,0.0,0.0,0.0,0.0,0.002719,0.014112
4,0.017107,0.0,0.0,0.014813,0.020024,0.0,0.006194,0.000868,0.0,0.025753,...,0.0,0.0,0.0,0.001173,0.0,0.0,0.0,0.0,0.002719,0.014112

ðŸ”¹ Displaying 308_OpenFace2.1.0_Pose_gaze_AUs.csv:

,time,confidence,success,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,gaze_0_x,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,0.000,0.0,0.0,0.0,0.0,1.0,0.390341,0.622405,0.539579,0.445522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.033,0.0,0.0,0.0,0.0,1.0,0.390341,0.622405,0.539579,0.445522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.067,0.0,0.0,0.0,0.0,1.0,0.390341,0.622405,0.539579,0.445522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.100,0.0,0.0,0.0,0.0,1.0,0.390341,0.622405,0.539579,0.445522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.133,0.0,0.0,0.0,0.0,1.0,0.390341,0.622405,0.539579,0.445522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
import os
import glob
import pandas as pd

def remove_frame_column_from_csv_folder(folder_path):
    csv_files = glob.glob(os.path.join(folder_path, '*.csv'))
    if not csv_files:
        print(f"âš ï¸ No CSV files found in {folder_path}")
        return

    for file_path in csv_files:
        df = pd.read_csv(file_path)
        if 'frame' in df.columns:
            df = df.drop(columns=['frame'])
            df.to_csv(file_path, index=False)
            print(f"âœ… Removed 'frame' column from {os.path.basename(file_path)}")
        else:
            print(f"â„¹ï¸ No 'frame' column in {os.path.basename(file_path)}")

def remove_frame_from_all_participants(root_data_dir):
    for participant_folder in os.listdir(root_data_dir):
        if participant_folder.startswith('.'):
            continue  # skip hidden/system files
        participant_path = os.path.join(root_data_dir, participant_folder)
        if os.path.isdir(participant_path):
            video_processed_folder = os.path.join(participant_path, 'video', 'processed')
            if os.path.isdir(video_processed_folder):
                print(f"\nðŸ“‚ Processing participant: {participant_folder}")
                remove_frame_column_from_csv_folder(video_processed_folder)
            else:
                print(f"âš ï¸ No 'video/processed' folder for {participant_folder}, skipping.")
        else:
            print(f"ðŸš« {participant_folder} is not a folder, skipping.")

if __name__ == "__main__":
    root_data_dir = "../data"  # Change this to your root data folder path
    remove_frame_from_all_participants(root_data_dir)

ðŸ“‚ Processing participant: 300_P
â„¹ï¸ No 'frame' column in 300_CNN_VGG.csv
â„¹ï¸ No 'frame' column in 300_OpenFace2.1.0_Pose_gaze_AUs.csv
âœ… Removed 'frame' column from 300_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv
âœ… Removed 'frame' column from 300_CNN_ResNet.csv
âš ï¸ No 'video/processed' folder for lables, skipping.

ðŸ“‚ Processing participant: 302_P
âœ… Removed 'frame' column from 302_CNN_VGG.csv
âœ… Removed 'frame' column from 302_OpenFace2.1.0_Pose_gaze_AUs.csv
âœ… Removed 'frame' column from 302_CNN_ResNet.csv
âœ… Removed 'frame' column from 302_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv

ðŸ“‚ Processing participant: 308_P
âœ… Removed 'frame' column from 308_CNN_VGG.csv
âœ… Removed 'frame' column from 308_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv
âœ… Removed 'frame' column from 308_OpenFace2.1.0_Pose_gaze_AUs.csv
âœ… Removed 'frame' column from 308_CNN_ResNet.csv

ðŸ“‚ Processing participant: 301_P
âœ… Removed 'frame' column from 301_CNN_VGG.csv
âœ… Removed 'frame' column from 301_OpenFace2.1.0_Pose_gaze_AUs.csv
âœ… Removed 'frame' column from 301_CNN_ResNet.csv
âœ… Removed 'frame' column from 301_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv

In [12]:
"""
This script scans through video feature CSV files located in each subject's
'processed' video folder under the '../data' directory. It checks whether the
numeric data columns (excluding 'time' and 'frame' columns) are normalized between 0 and 1.

- If the data is already normalized, it prints a confirmation.
- If not normalized, it normalizes all numeric columns (except 'time' and 'frame') using min-max scaling
  to scale values between 0 and 1 and saves the normalized data back to the same CSV file.

This ensures all video feature CSV files have normalized numeric data ready for further processing.
"""

import os
import pandas as pd
import numpy as np

data_dir = os.path.join('..', 'data')

subject_folders = [
    folder for folder in os.listdir(data_dir)
    if os.path.isdir(os.path.join(data_dir, folder)) and folder.endswith('_P')
]

def is_normalized(df, exclude_cols=['time', 'frame']):
    cols_to_check = [col for col in df.columns if col not in exclude_cols]
    numeric_cols = df[cols_to_check].select_dtypes(include=[np.number]).columns.tolist()
    if not numeric_cols:
        return True  # No numeric columns to check
    col_min = df[numeric_cols].min().min()
    col_max = df[numeric_cols].max().max()
    return (col_min >= 0) and (col_max <= 1)

def normalize_df(df, exclude_cols=['time', 'frame']):
    cols_to_normalize = [col for col in df.columns if col not in exclude_cols]
    numeric_cols = df[cols_to_normalize].select_dtypes(include=[np.number]).columns.tolist()

    for col in numeric_cols:
        col_min = df[col].min()
        col_max = df[col].max()
        if col_max > col_min:  # avoid division by zero
            df[col] = (df[col] - col_min) / (col_max - col_min)
        else:
            df[col] = 0  # if all values same, set to zero
    return df

for subject in sorted(subject_folders):
    video_dir = os.path.join(data_dir, subject, 'video', 'processed')
    print(f"\n=== Checking normalization for subject {subject} ===")

    if not os.path.exists(video_dir):
        print(f"âŒ Video folder not found for {subject} at path: {video_dir}")
        continue

    video_csv_files = [f for f in os.listdir(video_dir) if f.endswith('.csv')]

    if not video_csv_files:
        print(f"âš ï¸ No CSV files found in video folder of {subject}")
        continue

    for csv_file in sorted(video_csv_files):
        csv_path = os.path.join(video_dir, csv_file)
        try:
            df = pd.read_csv(csv_path)

            if is_normalized(df, exclude_cols=['time', 'frame']):
                print(f"{csv_file}: âœ… Normalized")
            else:
                print(f"{csv_file}: âŒ NOT Normalized â€” Normalizing now...")
                df = normalize_df(df, exclude_cols=['time', 'frame'])
                df.to_csv(csv_path, index=False)
                print(f"{csv_file}: âœ… Normalized and saved.")

        except Exception as e:
            print(f"âŒ Failed to process {csv_file}: {e}")

=== Checking normalization for subject 300_P ===
300_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv: âœ… Normalized
300_CNN_ResNet.csv: âœ… Normalized
300_CNN_VGG.csv: âœ… Normalized
300_OpenFace2.1.0_Pose_gaze_AUs.csv: âœ… Normalized

=== Checking normalization for subject 301_P ===
301_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv: âœ… Normalized
301_CNN_ResNet.csv: âœ… Normalized
301_CNN_VGG.csv: âœ… Normalized
301_OpenFace2.1.0_Pose_gaze_AUs.csv: âœ… Normalized

=== Checking normalization for subject 302_P ===
302_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv: âœ… Normalized
302_CNN_ResNet.csv: âœ… Normalized
302_CNN_VGG.csv: âœ… Normalized
302_OpenFace2.1.0_Pose_gaze_AUs.csv: âœ… Normalized

=== Checking normalization for subject 308_P ===
308_BoVW_openFace_2.1.0_Pose_Gaze_AUs.csv: âœ… Normalized
308_CNN_ResNet.csv: âœ… Normalized
308_CNN_VGG.csv: âœ… Normalized
308_OpenFace2.1.0_Pose_gaze_AUs.csv: âœ… Normalized

In [18]:
import pandas as pd
import os

# Base data directory (adjust as needed)
base_path = '../data'

# Loop through each subject folder
for subject in os.listdir(base_path):
    subject_path = os.path.join(base_path, subject)
    
    if not os.path.isdir(subject_path):
        continue  # Skip non-folder entries

    video_csv_path = os.path.join(subject_path, 'video', 'processed', f'{subject.split("_")[0]}_CNN_ResNet.csv')
    audio_csv_path = os.path.join(subject_path, 'audio', 'processed', f'{subject.split("_")[0]}_densenet201.csv')

    # Check if both files exist
    if not os.path.isfile(video_csv_path) or not os.path.isfile(audio_csv_path):
        print(f"Skipping {subject}: Required files not found.")
        continue

    try:
        video_df = pd.read_csv(video_csv_path)
        audio_df = pd.read_csv(audio_csv_path)

        # Check for 'time' column
        if 'time' not in video_df.columns or 'time' not in audio_df.columns:
            print(f"Skipping {subject}: 'time' column missing.")
            continue

        # Extend audio time column
        audio_time = audio_df['time'].copy()
        if len(audio_time) < len(video_df):
            last_value = audio_time.iloc[-1]
            extra_rows = len(video_df) - len(audio_time)
            audio_time = audio_time.tolist() + [last_value] * extra_rows
        else:
            audio_time = audio_time[:len(video_df)]

        # Rename and insert time columns
        video_df = video_df.rename(columns={'time': '1'})
        video_df.insert(0, 'time', audio_time)

        # Save the updated CSV
        video_df.to_csv(video_csv_path, index=False)
        print(f"Updated: {subject}")

    except Exception as e:
        print(f"Error processing {subject}: {e}")

Updated: 300_P
Skipping lables: Required files not found.
Updated: 302_P
Updated: 308_P
Updated: 301_P
Skipping .ipynb_checkpoints: Required files not found.

In [19]:
import pandas as pd
import os

base_path = '../data'

for subject in os.listdir(base_path):
    subject_path = os.path.join(base_path, subject)
    if not os.path.isdir(subject_path):
        continue

    subject_id = subject.split("_")[0]

    video_csv_path = os.path.join(subject_path, 'video', 'processed', f'{subject_id}_CNN_VGG.csv')
    audio_csv_path = os.path.join(subject_path, 'audio', 'processed', f'{subject_id}_vgg16.csv')

    if not os.path.isfile(video_csv_path) or not os.path.isfile(audio_csv_path):
        print(f"Skipping {subject}: Required files not found for CNN_VGG/vgg16.")
        continue

    video_df = pd.read_csv(video_csv_path)
    audio_df = pd.read_csv(audio_csv_path)

    if 'time' not in video_df.columns or 'time' not in audio_df.columns:
        print(f"Skipping {subject}: 'time' column missing for CNN_VGG/vgg16.")
        continue

    audio_time = audio_df['time'].copy()
    if len(audio_time) < len(video_df):
        last_value = audio_time.iloc[-1]
        extra_rows = len(video_df) - len(audio_time)
        audio_time = audio_time.tolist() + [last_value] * extra_rows
    else:
        audio_time = audio_time[:len(video_df)]

    video_df = video_df.rename(columns={'time': '1'})
    video_df.insert(0, 'time', audio_time)

    video_df.to_csv(video_csv_path, index=False)
    print(f"Updated {subject} for CNN_VGG/vgg16.")

Updated 300_P for CNN_VGG/vgg16.
Skipping lables: Required files not found for CNN_VGG/vgg16.
Updated 302_P for CNN_VGG/vgg16.
Updated 308_P for CNN_VGG/vgg16.
Updated 301_P for CNN_VGG/vgg16.
Skipping .ipynb_checkpoints: Required files not found for CNN_VGG/vgg16.